<footer class="footer">
    <div class="footer__grid">
        <div class="footer__brand">
            <h3 class="footer__title">HirePur</h3>
            <p class="footer__tagline">Your gateway to smarter hiring solutions</p>
            <div class="footer__social">
                <a href="#" class="footer__social-link"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="footer__social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="footer__social-link"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <div class="footer__column">
            <h4 class="footer__subtitle">For Employers</h4>
            <ul class="footer__menu">
                <li class="footer__item"><a href="{% url 'employer_register' %}" class="footer__link">Post Jobs</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Browse Candidates</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Pricing</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <h4 class="footer__subtitle">For Job Seekers</h4>
            <ul class="footer__menu">
                <li class="footer__item"><a href="{% url 'seeker_register' %}" class="footer__link">Find Jobs</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Career Resources</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Resume Builder</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <h4 class="footer__subtitle">Company</h4>
            <ul class="footer__menu">
                <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
            </ul>
        </div>
    </div>

    <div class="footer__copyright">
        <p style="color:white;">&copy; 2025 HirePur. All rights reserved.</p>
    </div>
</footer>